body {
   width: 500px;
   height: 500px;
   overflow: hidden;
}

.form-group {
  padding: 5% 3% 0% 3%;
}

.dumpNode {
  color: #000000;
}

#bookmarks {
  margin-left: -10%;
  font-size: 1em;
  color: #7DB249;
}

#signin {
  text-align: center;
}

h2, h3 {
  text-align: center;
}

.urlLink {
  font-size: 0.9em;
}

.favLink {
  padding-left: 10px;
  padding-right: 10px;
}
